<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="language" content="English"> 

	<title>Delta Artist Theme</title>
	<link rel="stylesheet" type="text/css" href="assets/main.css">
	<style type="text/css">
	/* custom styles go here */
	</style>
	<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</head>
<body>
	{% include menu.html %}
	<main>
		<div class="content">

